{
    "extends": "eslint:recommended",
    "globals": {
      "__DEVELOPMENT__": true,
      "__PRODUCTION__": true,
      "__TEST__": true,
      "__DEMO__": true,
      "module": true,
      "require": true
    },
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": false
    },
    "settings": {
        "ecmascript": 6,
        "jsx": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "comma-dangle": [1, "always-multiline"],
        "strict": 0,
        "quotes": 0,
        "no-unused-vars": 1,
        "camelcase": 1,
        "no-underscore-dangle": 0,
        "no-unreachable": 1,
        "react/jsx-uses-react": 1,
        "react/react-in-jsx-scope": 1
    }
}
