<div id="uploader">
    <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
</div>
 
<script type="text/javascript">
<%# Assumes variables cwd and elfinder are in scope as set by script in index.html.erb %>
// Initialize the widget when the DOM is ready
$(function() {
    $("#uploader").dialog({
      autoOpen: false,
      draggable: false,
      height: ($(window).height() - $('#elfinder').offset().top - 30) * 0.75,
      width: $('#elfinder').width() * 0.5
    }).plupload({
        // General settings
        runtimes : 'html5,flash,silverlight,html4',
        url : "/file-upload",
        multipart: false, // Alces::UploadMiddleware doesn't support multipart
        
        headers : {
          "X-File-Upload": true,
          "X-CSRF-Token": $('meta[name="csrf-token"]').attr("content")
        },
        // Rename files by clicking on their titles
        rename: true,
         
        // Sort files
        sortable: true,
 
        // Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
        dragdrop: true,
 
        // Views to activate
        views: {
            list: true,
            thumbs: false,
            active: 'list'
        },
 
        // Flash settings
        flash_swf_url : '<%= asset_path 'plupload/Moxie.swf' %>',
     
        // Silverlight settings
        silverlight_xap_url : '<%= asset_path 'plupload/Moxie.xap' %>',
        
        init: {
          BeforeUpload: function(up, file) {
            up.settings.headers['X-File-Name'] = file.name;
            up.settings.headers['X-Destination'] = cwd;
          },
          UploadComplete: function(up, files) {
            if (elfinder) {
              elfinder.exec('reload');
            }
          }
        }
    });
});
</script>