@font-face {
  font-family: "Quattrocento Sans";
  src: font-url("quattrocento/regular.eot");
  src: font-url("quattrocento/regular.eot?#iefix") format("embedded-opentype"), 
       font-url("quattrocento/regular.woff") format("woff"), 
       font-url("quattrocento/regular.ttf") format("truetype"), 
       font-url("quattrocento/regular.svg#Quattrocento") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quattrocento Sans";
  src: font-url("quattrocento/bold.eot");
  src: font-url("quattrocento/bold.eot?#iefix") format("embedded-opentype"), 
       font-url("quattrocento/bold.woff2") format("woff2"), 
       font-url("quattrocento/bold.woff") format("woff"), 
       font-url("quattrocento/bold.ttf") format("truetype"), 
       font-url("quattrocento/bold.svg#Quattrocento") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Magra";
  src: font-url("magra/regular.eot?");
  src: font-url("magra/regular.eot?#iefix") format("embedded-opentype"), 
       font-url("magra/regular.woff") format("woff"), 
       font-url("magra/regular.ttf") format("truetype"), 
       font-url("magra/regular.svg#Magra") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Magra";
  src: font-url("magra/bold.eot");
  src: font-url("magra/bold.eot?#iefix") format("embedded-opentype"), 
       font-url("magra/bold.woff") format("woff"), 
       font-url("magra/bold.ttf") format("truetype"), 
       font-url("magra/bold.svg#Magra") format("svg");
  font-weight: bold;
  font-style: normal;
}

$heading-font: "Magra", Helvetica, Arial, sans-serif;
$body-font: "Quattrocento Sans", serif;
