@font-face {
  font-family: 'Quattrocento Sans';
  src: url(/fonts/quattrocento/regular.eot);
  src: url(/fonts/quattrocento/regular.eot?#iefix) format("embedded-opentype"), url(/fonts/quattrocento/regular.woff) format("woff"), url(/fonts/quattrocento/regular.ttf) format("truetype"), url(/fonts/quattrocento/regular.svg#Quattrocento) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url(/fonts/quattrocento/bold.eot);
  src: url(/fonts/quattrocento/bold.eot?#iefix) format("embedded-opentype"), url(/fonts/quattrocento/bold.woff2) format("woff2"), url(/fonts/quattrocento/bold.woff) format("woff"), url(/fonts/quattrocento/bold.ttf) format("truetype"), url(/fonts/quattrocento/bold.svg#Quattrocento) format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Magra';
  src: font-url("/fonts/magra/regular.eot?");
  src: asset-url("/fonts/magra/regular.eot?#iefix") format("embedded-opentype"), url(/fonts/magra/regular.woff) format("woff"), url(/fonts/magra/regular.ttf) format("truetype"), url(/fonts/magra/regular.svg#Magra) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Magra';
  src: url(/fonts/magra/bold.eot);
  src: url(/fonts/magra/bold.eot?#iefix) format("embedded-opentype"), url(/fonts/magra/bold.woff) format("woff"), url(/fonts/magra/bold.ttf) format("truetype"), url(/fonts/magra/bold.svg#Magra) format("svg");
  font-weight: bold;
  font-style: normal;
}
