    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">Alces Storage Manager</span>
        </div>
    
          <ul class="nav navbar-nav navbar-right">
<% if session.has_key?(:authenticated_username) %>
            <li><p class="navbar-text">Logged in as <strong><%= session[:authenticated_username] %></strong></p></li>
            <li><%= link_to :controller => "login", :action => :logout do %>
              <span class="glyphicon glyphicon-log-out"></span> Log out
            <% end %>
            </li>
<% else %>
            <li><p class="navbar-text">Not logged in</strong></p></li>
<% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>